[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
numpy = "*"
pandas = "*"
tensorflow = "*"
streamlit = "*"
sklearn = "*"

[requires]
python_version = "3.9"
